Package: Dullahan
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Installed-Size: 1024
Maintainer: Colorado Code Craft <support@coloradocodecraft.com>
Description: Setup Ubuntu instance to run X11 headless
 Installs all packages to be able to run X11 on an Ubuntu 14.04 instance
 Sets up files apropriately to auto logon and changes X services
Pre-Depends: xvfb, xserver-xorg-core, x11-apps, lightdm, ubuntu-session, ubuntu-desktop, mesa-utils
